.container {
    position: absolute;
    inset-inline: 0;
    padding-inline: auto;

    display: grid;
    place-items: center;
}
.container .content {
    transform: translateX(-100%);
}
.container h1 {
    margin-block: 2rem;
    margin-inline: 1rem;
}

.container span {
    margin: 1rem;
    font-weight: 100;
    color: #686868;
}

.container p {
    margin: 1rem 5rem;
}
