.container {
    position: absolute;
    inset-inline: 0;
    padding-inline: auto;

    display: grid;
    place-items: center;
}
.container h1 {
    margin-block: 2rem;
    margin-inline: 1rem;
}

.container span {
    margin-top: 1rem;
    font-weight: 100;
    color: #686868;
    display: block;
}

.container p {
    margin: 1rem 5rem;
}

.container .image {
    margin-top: 3rem;
    display: block;
    width: 100%;
    object-fit: cover;
}
